<h1 class="text-center mt-4">Article List</h1>

<div class="d-flex justify-content-center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div class="d-flex justify-content-center">
    <%= will_paginate %>
</div>