<h1 align="center">All Barstow Bloggers</h1>
<% @users.each do |user| %>
    <ul>
    <div class="row">
        <li> <%= link_to gravatar_for(user), user_path(user) %></li>
        <li> <%= link_to user.username, user_path(user) %>    
    </div>
    <li>
        <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
    </li>
    </ul>

<% end %>