
@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
    }

.nav-link {
    color: white !important;
    }

#logo {
    float: left;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: bold;
    ;
}

#logo-trademark {
    color: #fff;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
    // min-height: 100%;
    // margin: 0;
    // display: flex;
    // flex-direction: column;
    flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
