<h1 class="text-center mt-4"><%= "Category: " + @category.name %></h1>

<div class="d-flex justify-content-center">
    <%= will_paginate @category_articles %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div class="d-flex justify-content-center">
    <%= will_paginate @category_articles %>
</div>